.app__add-item {
  margin-bottom: 30px;
}

.add-item {
  display: flex;
  align-items: flex-end;
}

.add-item__input-box {
  flex-grow: 1;
  margin-right: 10px;
  border-bottom: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.add-item__input {
  width: 100%;
  border: none;
  outline: none;
}

.add-item__btn {}