.item {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.item__content {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  margin-right: 10px;
}
.item__checkbox-box {
  margin-right: 10px;
}
.item__checkbox {}
.item__text {
  flex-grow: 1;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid black;
}

.item__text input {
  width: 100%;
  border: none;
  outline: none;
}
.item__text--done input {
  color: green;
  font-style: italic;
  text-decoration: line-through;
}
.item__btn-delete {}

.item__btn-save {
  margin-right: 10px;
}